
html { 
  scroll-behavior: smooth; 
}

/* Show it is fixed to the top */
body {
  /* min-height: 75rem; */
}

.pricing-header {
  max-width: 700px;
}



.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.container {
  max-width: 960px;
}


.toast-container {
  z-index: 7000;
}



.note-editable { background-color: white !important; color: black !important; }


.team-list-group-scroll{
    max-height: 350px;
    margin-bottom: 10px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}
.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
.quick .toggle-group { transition: none; -webkit-transition: none; }


.popover {
  background: lightgrey;
}
.popover-body {
  color: black;
}
.popover.bottom .arrow:after {
  border-bottom-color: lightgrey;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.tracker-rank-glow {
  filter: drop-shadow(0px 0px 7px #ffd000d1);
  -webkit-filter: drop-shadow(px 0px 7px #ffd000d1);
}

.tracker-rank-glow-small {
  filter: drop-shadow(0px 0px 4px #ffd000d1);
  -webkit-filter: drop-shadow(px 0px 4px #ffd000d1);
}


.tracker-rank-glow-big {
  filter: drop-shadow(0px 0px 10px #ffd000d1);
  -webkit-filter: drop-shadow(px 0px 10px #ffd000d1);
}

.alert-short {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}